:root {
    --width-slide: 590px;
    --gap: 10px;
    --width-block: calc(50% - var(--gap) / 2);
    --padding: 50px;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: swap;
    color: #232020;
    min-width: 320px;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5; /*изменить на 150%*/
    font-weight: 400;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: #c49a01;
}

.image {
    max-width: 100%;
    height: auto;
}

.button {
    border-radius: 24px;
    cursor: pointer;
    padding: 18px 40px;
    color: #232020;
    text-transform: uppercase;
    background-color: #FFC700;
    border: none;
    border: 1px solid #FFC700;
    outline: none;
}

.button_o {
    background-color: transparent;
    border: 1px solid #232020;
}

.button:hover {
    background-color: #FFD952;
    border-color: #FFD952;
}

.button:focus-visible {
    border-color: #9E7B00;
}

.button_o:focus-visible {
    border-color: #FFC700;
}

.button:active:not(:disabled) {
    transform: translate(2px, 2px);
}

.button:disabled {
    /*pointer-events: none;*/
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: #898989;
    cursor: default;
}

.section-offset{
    padding-top: 40px;
    padding-bottom: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.gray-block{
    background-color: #F8F8F8;
    border-radius: 12px;
    padding: var(--padding);
    min-height: 530px;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (max-width: 1240px) {
    :root {
        --padding: 30px;
        --width-slide: 440px;
    }
    .container {
        max-width: 890px;
    }

    .section-offset {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .title {
        font-size: 34px;
    }

    .gray-block {
        min-height: 396px;
    }
}

@media all and (max-width: 920px) {
    :root {
        --padding: 24px;
        --width-slide: 311px;
    }
    .container {
        max-width: 690px;
        padding: 0 30px;
    }

    .gray-block {
        min-height: 280px;
    }
    .button {
        padding: 10px 24px;
        font-size: 14px;
    }
}

@media all and (max-width: 560px) {
    :root {
        --padding: 20px;
        --gap: 4px;
    }
    .container {
        padding: 0 6px;
    }

    .gray-block {
        min-height: 232px;
    }

    .title {
        font-size: 24px;
    }

    .button {
        font-size: 12px;
    }
}
